server:
  port: 8080
  tomcat:
    threads:
      max: ${TOMCAT_MAX_THREADS:200}
      min-spare: ${TOMCAT_MIN_SPARE:50}
    accept-count: ${TOMCAT_ACCEPT_COUNT:100}
spring:
  threads:
    virtual:
      enabled: ${VIRTUAL_THREADS:false}